.input-group-text {
    flex-direction: column;
    justify-content: space-around;
}

.input-group-text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.vote {
    cursor: pointer;
    border-radius: 2px;
}

.preferred label::after {
    background-color: rgb(241, 229, 172) !important;
}

.preferred textarea {
    background-color: rgb(241, 229, 172) !important;
}






